<html lang="en">
<head>
    <%- include("includes/head") %>
    <title>Chris Price Music</title>
</head>
<body>
    <%- include("includes/header") %>
    <main>
        
        <div><!--Deadspace--></div>
        <!--left-->
        <div>
            <%- include("includes/left-floater") %>
        </div>
        <div><!--Deadspace--></div>

        <!--Center-->
        <div>
            <h1>Sample Cover Art</h1>
            <b>Don't have a custom image for your piece? Click on one of the following to download and use it in your peice!</b>
            <div style="text-align: center;">
                <br>
                <div style="width: 60%; margin-left: 20%;">
                    <a href="/img/jazz.jpg" target="blank" download="jazz.jpg">
                        <img src="/img/jazz.jpg" alt="Jazz Icon" style="width: 100%;">
                    </a>
                    <p>Font: Prater-serif pro</p>
                </div>
                <br>
                <div style="width: 60%; margin-left: 20%;">
                    <a href="/img/piano.jpg" target="blank" download="piano.jpg">
                        <img src="/img/piano.jpg" alt="piano Icon" style="width: 100%;">
                    </a>
                    <p>Font: Prater-serif pro</p>
                </div>
                <br>
                <div style="width: 60%; margin-left: 20%;">
                    <a href="/img/strings.jpg" target="blank" download="strings.jpg">
                        <img src="/img/strings.jpg" alt="strings Icon" style="width: 100%;">
                    </a>
                    <p>Font: Bell MT Bold</p>
                </div>
                <br>
                <div style="width: 60%; margin-left: 20%;">
                    <a href="/img/choral.jpg" target="blank" download="choral.jpg">
                        <img src="/img/choral.jpg" alt="choral Icon" style="width: 100%;">
                    </a>
                    <p>Font: Corbel regular</p>
                </div>
                <br>
                <div style="width: 60%; margin-left: 20%;">
                    <a href="/img/concert.png" target="blank" download="concert.png">
                        <img src="/img/concert.png" alt="concert Icon" style="width: 100%;">
                    </a>
                    <p>Font: Bakerville old face</p>
                </div>
                <br>
                <div style="width: 60%; margin-left: 20%;">
                    <a href="/img/marching.jpg" target="blank" download="marching.jpg">
                        <img src="/img/marching.jpg" alt="marching Icon" style="width: 100%;">
                    </a>
                    <p>Font: Finale Lyrics</p>
                </div>
                <br>
                <div style="width: 60%; margin-left: 20%;">
                    <a href="/img/full.jpg" target="blank" download="full.jpg">
                        <img src="/img/full.jpg" alt="full Icon" style="width: 100%;">
                    </a>
                    <p>Font: Finale Lyrics bold</p>
                </div>
                <br>
            </div>
            <br>
        </div>

        <div><!--Deadspace--></div>
        <!--Right-->
        <div>
            <%- include("includes/right-floater") %>
        </div>
        <div><!--Deadspace--></div>

    </main>
    <%- include("includes/footer") %>
</body>
</html>