<html lang="en">
<head>
    <%- include("includes/head") %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chris Price Music</title>
</head>

<body>
    <%- include("includes/header") %>
    <main>
        
        <div><!--Deadspace--></div>
        <!--left-->
        <div>
            <%- include("includes/left-floater") %>
        </div>
        <div><!--Deadspace--></div>

        <!--Center-->
        <div>
            <br>
            <h1 style="text-align: center;">Find Your Next Performance Piece</h1>
            <p style="text-align: center;">Browse high-quality sheet music for any occasion!</p>
            <br>
            <hr>
            <br>
            
            <form action="/music">
                <div><ion-icon name="search-outline"></ion-icon>Search Music</div>
                <div class="home-search">
                    
                    <input type="text" name="searchPiece" id="searchPiece" placeholder="Search music">
                    <button>Search</button>
                </div>
            </form>

            <br>
            <h2>Featured Music</h2>
            <p>Check out these featured pieces, handpicked by our team!</p>
            <br>

                <div>
                    <% 
                        let i = 0;
                        featuredMusic.forEach(piece => { 
                            i++
                            
                            if(i<=3) { %>
                        <a href="/music/<%=piece.id%>" class="carousel-anchor">
                            <div class="card carousel-hover">
                                <div class="profile-piece">
                                    <img src="/img/<%= piece.img %>" alt="Thumbnail for <%= piece.title %>" style="width: 100%; aspect-ratio: 1 ;">
                                        <div>
                                        <div class="piece-header">
                                            <h3><%= piece.title %></h3>
                                            <br>
                                            <span class="carousel-link"><%= piece.composer %><% if (piece.arranger) { %> (arr. <%= piece.arranger %>)<% } %></span>
                                        </div>
                                        <div>
                                            <span style="text-decoration: none;">For <%= piece.ensembletype %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    <% }}) %>
                </div>

            <br>
            <h2>New Arrivals</h2>
            <p>Looking for something new? Check out these new arrivals, hot off the press!</p>
            <br>
            <div>
                <div class="duple-to-single">
                    <% newMusic.forEach(piece => { %>
                        <a href="/music/<%=piece.id%>" class="carousel-anchor">
                            <div class="card carousel-hover" style="height: 95%;">
                                <div class="homepage-piece">
                                    <img src="/img/<%= piece.img %>" alt="Thumbnail for <%= piece.title %>" style="width: 100%; aspect-ratio: 1 ;">
                                    <div>
                                        <div class="piece-header">
                                            <h3><%= piece.title %></h3>
                                            <br>
                                            <span class="carousel-link"><%= piece.composer %><% if (piece.arranger) { %> (arr. <%= piece.arranger %>)<% } %></span>
                                        </div>
                                        <div>
                                            <span style="text-decoration: none;">For <%= piece.ensembletype %></span>
                                        </div>
                                        <span style="text-decoration: none;">Grade <%= piece.difficulty %></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                </div>
            </div>
            <br>
            <br>
            <h2>Search by Difficulty</h2>
            <p>Choose a grade that's perfect for your ensemble!</p>
            <br>
            <br>
            <div class="seven-to-one">
                <% for(i = 0; i < 7; i++) { %>
                    <div class="difficulty-list">
                        <a href="/music?searchGrade=<%= i+1 %>" class="button">Grade <%= i+1 %></a>
                    </div>
                <% } %>
            </div>
            <br>
            <br>
            <% if(soloPiano.length > 0) { %>
            <h2>At The Piano</h2>
            <p>Check out our selection of sheet music for solo piano!</p>
            <div>
                <div class="duple-to-single">
                    <% soloPiano.forEach(piece => { %>
                        <a href="/music/<%=piece.id%>" class="carousel-anchor">
                            <div class="card carousel-hover" style="height: 95%;">
                                <div class="profile-piece">
                                    <img src="/img/<%= piece.img %>" alt="Thumbnail for <%= piece.title %>" style="width: 100%; aspect-ratio: 1 ;">
                                        <div>
                                        <div class="piece-header">
                                            <h3><%= piece.title %></h3>
                                            <br>
                                            <span class="carousel-link"><%= piece.composer %><% if (piece.arranger) { %> (arr. <%= piece.arranger %>)<% } %></span>
                                        </div>
                                        <div>
                                            <span style="text-decoration: none;">For <%= piece.ensembletype %></span>
                                        </div>
                                        <span style="text-decoration: none;">Grade <%= piece.difficulty %></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                </div>
            </div>
            <br>
            <br>
            <% } %>
            <br>
            <h1 style="text-align: center;">Get Published by Us!</h1>
            <br>
            <p>Submit your music to see if you get approved to be published by Chris Price Music! We're always looking for new composers/arrangers who are wanting to get their music out there! Apply today!</p>
            <br>
            <br>
            <div style="text-align: center;">
                <a href="/apply" class="pdf-button"><ion-icon name="reader-outline"></ion-icon> Apply for Publication</a>
            </div>
            <br>
            <br>
        </div>
        

        <div><!--Deadspace--></div>
        <!--Right-->
        <div>
            <%- include("includes/right-floater") %>
        </div>
        <div><!--Deadspace--></div>

    </main>
    <%- include("includes/footer") %>
</body>
</html>