<html lang="en">
<head>
    <%- include("includes/head") %>
    <title><% if(register) { %> Register <% } else { %> Login <% } %></title>
</head>
<body>
    <%- include("includes/header") %>
    <main>
        
        <div><!--Deadspace--></div>
        <!--left-->
        <div>
            <%- include("includes/left-floater") %>
        </div>
        <div><!--Deadspace--></div>

        <!--Center-->
        <div>
            <% errors.forEach(error => { %>
                <p class="notice"><%= error %></p>
            
    
            <% }) %>
            <% if(register){ %>
                <br>
            <form action="/register" method="POST">            
                    <fieldset>
                        <legend>Create an account</legend>
                        <small>* = required</small>
                        <br>
                        <br>
                        <label for="username">Username*</label>
                        <input type="text" id="username" name="username" autocomplete="off" required>
                        <br>
    
                        <label for="email">Email*</label>
                        <input type="email" id="email" name="email" autocomplete="off" required>
                        <br>

                        <label for="password">Password*</label>
                        <input type="password" id="password" name="password" autocomplete="off" required>
                        <br>
    
                        <label for="firstname">First Name*</label>
                        <input type="text" id="firstname" name="firstname" autocomplete="off" required>
                        <br>
    
                        <label for="lastname">Last Name*</label>
                        <input type="text" id="lastname" name="lastname" autocomplete="off" required>
                        <br>

                        <label for="schoolorg">School / Organization</label>
                        <input type="text" id="schoolorg" name="schoolorg" autocomplete="off">
                        <br>
                        <br>

                        <input type="checkbox" id="newsletter" name="newsletter" value="1" checked><label for="newsletter">Subscribe to Newsletter</label><br>
        
                        
                        <button>Register</button>
                    </fieldset>
                </form>
        
                <br>
                <h3>Already have an account?</h3>
                <br>
                <a href="/login" class="button">Log In</a>
                <br>
                <br>
    
                <% } else { %>
                    <br>
                    <form action="/login" method="POST">
                        <fieldset>
                            <legend>Log In</legend>
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" autocomplete="off" required>
                            <br>
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" autocomplete="off" required>
            
                            <br>
                            <button>Log In</button>

                            <br>
                            <br>
                            <a href="/forgot-password"><small style = "padding: 8px;">Forgot password?</small></a>
                        </fieldset>
                    </form>
                    <br>
                    <h3>Don't have an account?</h3>
                    <br>
                    <a href="/register" class="button">Register</a>
    
                <% } %>
        </div>

        <div><!--Deadspace--></div>
        <!--Right-->
        <div>
            <%- include("includes/right-floater") %>
        </div>
        <div><!--Deadspace--></div>

    </main>
    <%- include("includes/footer") %>
</body>
</html>