<html lang="en">
<head>
    <%- include("includes/head") %>
    <title>Reset Your Password</title>
</head>
<body>
    <%- include("includes/header") %>
    <main>
        
        <div><!--Deadspace--></div>
        <!--left-->
        <div>
            <%- include("includes/left-floater") %>
        </div>
        <div><!--Deadspace--></div>

        <!--Center-->
        <div>

            <% errors.forEach(error => { %>
                <div class="notice"><%= error %></div>
            <% }) %>

            <% if(move) { %>
                    <br>
                    <form action="/reset-password" method="POST">
                        <fieldset>
                            <legend>Reset Password</legend>
                            <label for="password">New Password</label>
                            <input type="password" id="password" name="password" autocomplete="off" required>
                            <br>
                            <label for="confirm">Confirm New Password</label>
                            <input type="password" id="confirm" name="confirm" autocomplete="off" required>
                            <input type="text" id="emailkey" name="emailkey" hidden value="<%= emailSecret %>">
                            <br>
                            <button>Reset Password</button>
                        </fieldset>
                    </form>
                    <br>
                <% } %>
        </div>

        <div><!--Deadspace--></div>
        <!--Right-->
        <div>
            <%- include("includes/right-floater") %>
        </div>
        <div><!--Deadspace--></div>

    </main>
    <%- include("includes/footer") %>
</body>
</html>