<html lang="en">
<head>
    <%- include("includes/head") %>
    <title>You're Verified!</title>
</head>
<body>
    <%- include("includes/header") %>
    <main>
        
        <div><!--Deadspace--></div>
        <!--left-->
        <div>
            <%- include("includes/left-floater") %>
        </div>
        <div><!--Deadspace--></div>

        <!--Center-->
        <div>
            <h1>Welcome</h1>
            <p>Your email is verified!</p>
            <p>Browse our catalogue of <a href="/music">music!</a></p>
        </div>

        <div><!--Deadspace--></div>
        <!--Right-->
        <div>
            <%- include("includes/right-floater") %>
        </div>
        <div><!--Deadspace--></div>

    </main>
    <%- include("includes/footer") %>
</body>
</html>